# Ignore virtual environment
venv/
*.pyc
__pycache__/

# Ignore SQLite database
db.sqlite3

# Ignore Python bytecode
*.py[cod]

# Ignore Django migrations
**/migrations/

# Ignore VSCode settings
.vscode/

# Ignore environment variables
.env